.header_slider {
    display: flex;
    width: 60%;
    height: 10%;
    justify-content: center;
    align-items: center;
    position: relative;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
}
